.section__inicio{display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;}

.articleInicio__mesa{
    justify-self: flex-start;
    }

.articleInicio__cartas{
    justify-self: center;
    }

.articleInicio__fichas{
    justify-self: flex-end;
    }

article h1{position: absolute;
    bottom: 200px;
    right: 0px;}

.pruebaRelativo{position: relative;}

.img__inicio--tamaño{max-width: 100%; height: 100%;}


article.pruebaRelativo h1:hover{font-size: 12rem;}

section.section__inicio article{overflow: hidden;}
a.pruebaRelativo img{transition: transform .4s;}
a.pruebaRelativo img:hover{transform: scale(140%);}

@mixin fondoTitulosInicio($background, $ancho, $alto) {
    background-color: $background;
    width: $ancho;
    height: $alto;}

.fondoH1{@include fondoTitulosInicio(rgba(107, 26, 199, 0.4), 100%, 150px)}

@mixin txtH1__inicio($color, $tamanio, $fuente) {
    color: $color;
    font-size: $tamanio;
    font-family: $fuente;
}

.txtInicio{@include txtH1__inicio(rgba(255, 255, 255, 0.685), 10rem, "inconsolata")}




