.gridJuegos{display: grid;
    grid-template-areas: 
    "headJuegos"
    "contenidoJuegos"
    "footJuegos";
    
    grid-template-columns: auto;
    grid-auto-rows: 1fr 5fr 1fr;}

body.gridJuegos header{grid-area: headJuegos;}
body.gridJuegos section{grid-area: contenidoJuegos;}
body.gridJuegos footer{grid-area: footJuegos;}

.article__juegos{position: relative;
    margin: 0px;}

.articleJuegos__fondoJuegosCartas{background-image: url(../imagenes/background_juegos03.jpg); height: 350px;}

.articleJuegos__fondoJuegosFichas{background-image: url(../imagenes/background_juegos04.jpg); height: 350px;}

.articleJuegos__fondoJuegosMesa{background-image: url(../imagenes/background_juegos05.jpg); height: 350px;}

article a h2{position: absolute; 
    bottom: 100px;
    right: 10px;
    margin: 0px;}

.tituloJuegos__izquierda{position: absolute;
    bottom: 100px;
    left: 10px;
    margin-bottom: 0px;}

.tituloJuegos__derecha{font-size: 10rem;}

.descripcionJuegos__der{position: absolute;
    bottom: 80px;
    right: 10px;
    margin-top: 0px;}

.descripcionJuegos__izq{position: absolute;
    bottom: 80px;
    left: 10px;
    margin-top: 0px;}