.gridContenidoCartas{display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "cartasUno cartasDos cartasTres";
    
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 0fr 4fr;}
    
section.gridContenidoCartas article:first-of-type{grid-area: cartasUno;}
section.gridContenidoCartas article:nth-of-type(2){grid-area: cartasDos;}
section.gridContenidoCartas article:last-of-type article{grid-area: cartasTres;}
section.gridContenidoCartas h1{grid-area: titulo;}

section.gridContenidoCartas article{padding: 10px;}