.gridContenidoMesa{display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "mesaUno mesaDos mesaTres";
        
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 0fr 4fr;}
    
section.gridContenidoMesa article:first-of-type{grid-area: mesaUno;}
section.gridContenidoMesa article:nth-of-type(2){grid-area: mesaDos;}
section.gridContenidoMesa article:last-of-type article{grid-area: mesaTres;}
section.gridContenidoMesa h1{grid-area: titulo;}    