@media screen and (max-width: 768px){

// header

.gridTabletHeader{display: grid;
grid-template-areas: 
"logo navegador carrito";
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;}

div.header__nav{grid-area: navegador;
justify-self: flex-start;}
div.header__carrito{grid-area: carrito;
justify-self: flex-end;}
div.header__logo{grid-area: logo;}

// footer

.gridTabletFooter{display: grid;
grid-template-areas: 
"redes"
"frase";

grid-template-columns: auto;
grid-template-rows: 0fr 0fr;}

div.footer__frase{grid-area: frase;
justify-self: center;
margin-top: 15px;
text-align: center;}
div.footer__redes{grid-area: redes;
justify-self: center;
margin-top: 25px;
margin-left: 0px;}

div.footer__redesContenedor{display: grid;
grid-template-areas: 
"fb ig ws";

grid-template-columns: auto;
grid-template-rows: auto;}

div.footer__redesFacebook{grid-area: fb;
width: 100%;}
div.footer__redesInstagram{grid-area: ig;
width: 100%;}
div.footer__redesWhatsapp{grid-area: ws;
width: 100%;}

footer{height: 200px;}

#redesSocialesFoot{width: 100%;
    margin-left: 20px;}


// inicio 

#tabletSection{flex-direction: column;}

#responsiveArticle{width: 100%;
    justify-content: flex-start;}

// nosotros

#gridTabletNosotros{display: grid;
grid-template-areas:
"titulo" 
"quienes"
"historia"
"futuro";
grid-template-columns: auto;
grid-template-rows: 0fr 0fr 0fr 0fr;}

section.gridTabletNosotros h1{grid-area: titulo;}
section.gridTabletNosotros article:first-of-type{grid-area: quienes;}
section.gridTabletNosotros article:nth-of-type(2){grid-area: historia;}
section.gridTabletNosotros article:last-of-type{grid-area: futuro;}

div.divNosotrosOculto{display: inline-block;
    padding: 10px;
    background-color: rgba(70, 65, 60, 0.2);}

div.divNosotrosOculto div.centradoTxt h2{
    color: rgba(255, 255, 255, 0.685);
    text-transform: uppercase;
    background-color: rgba(143, 86, 209, 0.2);}

div.bottom_to_top{display: none;}

// juegos de cartas

#gridTabletCartas{display: grid;
    grid-template-areas: 
    "titulo"
    "cartasUno"
    "cartasDos" 
    "cartasTres";
    
    grid-template-columns: auto ;
    grid-template-rows: 0fr 3fr 3fr 3fr;}
    
section.gridContenidoCartas article:first-of-type{grid-area: cartasUno;}
section.gridContenidoCartas article:nth-of-type(2){grid-area: cartasDos;}
section.gridContenidoCartas article:last-of-type article{grid-area: cartasTres;}
section.gridContenidoCartas h1{grid-area: titulo;}

// juegos de fichas

#gridTabletFichas{display: grid;
    grid-template-areas: 
    "titulo"
    "fichasUno"
    "fichasDos"
    "fichasTres";
    
    grid-template-columns: auto ;
    grid-template-rows: 0fr 3fr 3fr 3fr;}
    
section.gridContenidoFichas article:first-of-type{grid-area: fichasUno;}
section.gridContenidoFichas article:nth-of-type(2){grid-area: fichasDos;}
section.gridContenidoFichas article:last-of-type article{grid-area: fichasTres;}
section.gridContenidoFichas h1{grid-area: titulo;}

// juegos de mesa

#gridTabletMesa{display: grid;
    grid-template-areas: 
    "titulo"
    "mesaUno"
    "mesaDos"
    "mesaTres";
        
    grid-template-columns: auto;
    grid-template-rows: 0fr 3fr 3fr 3fr;}
    
section.gridContenidoMesa article:first-of-type{grid-area: mesaUno;}
section.gridContenidoMesa article:nth-of-type(2){grid-area: mesaDos;}
section.gridContenidoMesa article:last-of-type article{grid-area: mesaTres;}
section.gridContenidoMesa h1{grid-area: titulo;}

// contacto

#flexTabletBurbujas{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 10px;}

div.divContactoOculto{display: inline-block;
margin-left: 0px;
display: flex;
flex-direction: row;
justify-self: start;
align-items: center;
overflow: hidden;}

div.effect13{display: none;}

.textoJuegos{text-align: center;}

.imagenesJuegos{max-width: 100%;}

article div:last-of-type{text-align: center;}
}

@media screen and (max-width: 576px){

.gridCelularHeader{display: grid;
    grid-template-areas: 
    "logo carrito"
    "navegador carrito";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;}
    
    div.header__nav{grid-area: navegador;
    justify-self: flex-start;
    margin-left: 20px;}
    div.header__carrito{grid-area: carrito;
    justify-self: flex-end;
margin-right: 20px;}
    div.header__logo{grid-area: logo;}

p.footer__frase--posicion{font-size: 1.5rem;}

// contacto

#flexTabletBurbujas{display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;}
    

div.divContactoOculto div.circle div.img{max-width: 75%;
    max-height: 75%;}

.ih-item.circle{width: 200px;
height: 200px;}

h2.titulosBurbujas{
    font-size: 3rem;
    font-weight: 300;}

div.divContactoOculto p{font-size: 1.7rem;}
div.divContactoOculto p:last-of-type{font-weight: bold;}




}