.gridContenidoNosotros{display: grid;
    grid-template-areas:
    "titulo titulo titulo" 
    "quienes historia futuro";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 5fr;}

section.gridContenidoNosotros h1{grid-area: titulo;}
section.gridContenidoNosotros article:first-of-type{grid-area: quienes;}
section.gridContenidoNosotros article:nth-of-type(2){grid-area: historia;}
section.gridContenidoNosotros article:last-of-type{grid-area: futuro;}

section.gridContenidoNosotros article{display: flex;
    flex-direction: column;
    justify-content: space-between;}
    
.divNosotrosOculto{display: grid;
grid-template-areas:
"texto foto";
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
display: none;}

div.divNosotrosOculto div{grid-area: texto;}
div.divNosotrosOculto img{grid-area: foto;}

.ih-item.square{border: 0px;
    width: 100%;
    height: 100%;
    box-shadow: none;}
    
    .ih-item.square.effect6 .info p{font-size: 2rem;
    font-family: "montserrat", sans-serif;
    line-height: 2rem;
    font-weight: bold;
    color: #c1e2ec;}
    
    .ih-item.square.effect6 .info h3{background-color: #503685;
    font-family: "inconsolata", monospace;
    font-size: 3rem;}